<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mississippi Department of Human Services</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/bootstrap.css" />           
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <!--<script type="text/javascript" src="http://www.trirand.com/blog/jqgrid/js/jquery.js"></script>
    <script type="text/javascript" src="http://www.trirand.com/blog/jqgrid/js/jquery-ui-1.8.1.custom.min.js"></script>
    <script type="text/javascript" src="http://www.trirand.com/blog/jqgrid/js/jquery.layout.js"></script>
    <script type="text/javascript" src="http://www.trirand.com/blog/jqgrid/js/i18n/grid.locale-en.js"></script>
    <script type="text/javascript" src="http://www.trirand.com/blog/jqgrid/js/ui.multiselect.js"></script>
    <script type="text/javascript" src="http://www.trirand.com/blog/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="http://www.trirand.com/blog/jqgrid/js/jquery.tablednd.js"></script>
    <script type="text/javascript" src="http://www.trirand.com/blog/jqgrid/js/jquery.contextmenu.js"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJDVkvbS5v9hknmJeJx_hVnAeIj3jjpM0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/js/site.min.js"></script>
      <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL,includedLanguages: 'en,es,vi'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <link rel="stylesheet" href="~/css/rangeSlider.css" />
    <script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>

</head>
<body>
   
<div class="container">
  <div class="page-header">
    <img src="~/images/mdhs_logo.png" alt="Mississippi Department of Human Services" />  
  </div>
<nav class="navbar navbar-inverse" >
  <div class="container-fluid" >
    <div class="navbar-header">
      <button type="button" value="" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="~/search/SearchProvider"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</a></li>
        <li><a href="~/home/About"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;About</a></li>
        <li><a title="Select Language"  id="google_translate_element"></a></li>
      
       </ul>
       <ul class="nav navbar-nav navbar-right">
      <li> <a id="lnkbug" title="Report a bug"   href="mailto:CSINFO@CAMBRIASOLUTIONS.COM" >Report a bug</a></a></li>
      </ul>
     
    </div>


  </div>
</nav>
</div>

 @RenderBody()

 <div class="container">
    <hr/>
    <footer>
        <p>&copy; 2016 - Cambria Solutions</p>
    </footer>
  </div>
</body>
</html>