@model Provider
@{
    ViewData["Title"] = "Search Provider";
}

<div class="container">
    <div class="OuterMostClass row">
        <div class="outerClass col-xs-6">
           <h4 class="display-4">If you are a parent or a social worker or looking for subsidizing day care facilities search below</h1>
        </div>
        <div class="outerClass2 col-xs-6">
           <h4 class="display-4">If you are a parent or a social worker or looking for all day care facilities click <a href="#">here</a>.</h1>
        </div>
    </div> 
</div>

<div class="panel panel-primary" >
       
            <div class="panel-heading">Search Child Care Provider</div>
            
           
            <div class="panel-body">

<div class="container">
	
      <!-- Horizonatal Form -->
      <div class="row">
        <div class="col-xs-9">
          <form class="form-horizontal">
            <div class="form-group">
            
              <div class="ccol-xs-10 col-xs-offset-5">
                <input type="text" class="form-control" id="txtName" placeholder="City or Zip Code" />
              </div>
            </div>

           
            
            <div class="col-xs-offset-6">
            <button type="submit" class="btn btn-default" id="btnSubmit">Submit</button>
			 
               <button type="reset" class="btn btn-default">Reset</button>
            </div>

            
          </form>
        </div>
      </div>
    </div>
   </div>
</div>

<table id="list2">
        </table><div id="pager2"></div>

           </div>

<br>
			
			 <br>
			 <br>

			 <div class="container">
    <div class="OuterMostClass row">
        <div class="outerClass col-xs-6">
            <table id="list2">
        </table><div id="pager2"></div>
        </div>
        </div>
        <div class="outerClass2 col-xs-6">
            <div id ="map"   style="width:750px;height:350px;">
        </div>
    </div> 
</div>

	

</div>	    

<script>
	 var firstClick = true;
        $(document).ready(function() {
 $('[id^=btnSubmit]').on('click', function (e) {

	  if (!firstClick) {
		$('#list2').jqGrid('GridUnload'); 
                    
	  }
	var enteredLocation = $("#txtName").val();

 firstClick = false;

 jQuery("#list2").jqGrid({
      url:"search/getprovider?location="+enteredLocation,
	//data: { name: name1, city: city1, zip : zip1},
width: '600',
    datatype: 'json',
    colNames: ['Provider Name', 'Phone Number', 'City', 'Physical ZipCode', 'LicenseType', 'Rating'	],
    colModel: [
       
		  {name:'ProviderName',index:'ProviderName' ,width:'25', align: 'center'},
   		{name:'PhoneNumber',index:'PhoneNumber', width:'25', align: 'center'},
		    	{name:'PhysicalCity',index:'PhysicalCity', width:'25',align: 'center'},
		   	{name:'PhysicalZipCode',index:'PhysicalZipCode', width:'25', align: 'center'},
			   	{name:'LicenseType',index:'LicenseType', width:'25', align: 'center'},				  
					   {name:'QualityRating',index:'QualityRating', width:'25', align: 'center'}

       
    ],
     jsonReader: {
            repeatitems: false,
            root: function(obj) { return obj; },
            page: function(obj) { return 1; },
            total: function(obj) { return 1; },
            records: function(obj) { return obj.length; }
        },
        loadonce: false,
        pager: jQuery('#pager2'),
        rowNum: 10,
        rowList: [5, 10, 20, 50],
        sortname: 'ProviderName',
        sortorder: "asc",
        viewrecords: false,
        caption: 'Provider Search Result...',
			autowidth: false,  // set 'true' here
                shrinkToFit: true
    })
	//.navGrid(pager, { edit: false, add: false, del: false, refresh: true, search: true });
return false;
 });

 });

   

$(window).resize(function () {
            var outerwidth = $('#div1').width();
            $('#datagrid').setGridWidth(outerwidth); // setGridWidth method sets a new width to the grid dynamically
});

$(window).unbind('resize.myEvents').bind('resize.myEvents', function () {
        var outerwidth = $('#div1').width();
        $('#datagrid').setGridWidth(outerwidth);
    });






$(document).ready(function () {
    var map;
    var elevator;
    var myOptions = {
        zoom: 10,
        center: new google.maps.LatLng(38.575764, -121.478851),
       mapTypeId: 'terrain'
    };
    map = new google.maps.Map($('#map')[0], myOptions);

    var addresses = ['GranitePoint 95834', '840 still water road 95605', '1718 timbrelway rocklin 95765', 'CVS 95835', 'Cambria Solutions Sacramento'];

    for (var x = 0; x < addresses.length; x++) {
		var address = addresses[x];		
        $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address='+addresses[x]+'&sensor=false', null, function (data) {
			
            var p = data.results[0].geometry.location
		
            var latlng = new google.maps.LatLng(p.lat, p.lng);
		
            new google.maps.Marker({
                position: latlng,
                map: map,
				title: address
				
            });

        });
	
    }

	var circle = new google.maps.Circle({
            center: new google.maps.LatLng(38.575764, -121.478851),
            map: map,
            radius: 10000,          // IN METERS.
            fillColor: '#FF6600',
            fillOpacity: 0.3,
            strokeColor: "#FFF",
            strokeWeight: 1        // DON'T SHOW CIRCLE BORDER.
        });

}); 
   </script>



   