@model Provider
@{
    ViewData["Title"] = "Search Provider";
}

<div class="container">
    <div class="OuterMostClass row">
        <div class="outerClass col-xs-6">
           <h4 class="display-4">If you are a parent or a social worker or looking for subsidizing day care facilities search below</h1>
        </div>
        <div class="outerClass2 col-xs-6">
           <h4 class="display-4">If you are a parent or a social worker or looking for all day care facilities click <a href="#">here</a>.</h1>
        </div>
    </div> 
</div>

<div class="panel panel-primary" >
       
            <div class="panel-heading">Search Child Care Provider</div>
            
           
            <div class="panel-body">

<div class="container">
      <!-- Horizonatal Form -->
      <div class="row">
        <div class="col-xs-6">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="nameField" class="col-xs-2">Address</label>
              <div class="col-xs-10">
                <input type="text" class="form-control" id="nameField" placeholder="Provider Name" />
              </div>
            </div>

               <div class="form-group">
              <label for="phoneField" class="col-xs-2">City</label>
              <div class="col-xs-10">
                <select class="form-control selcls" id="city">
		<option value="">&lt; Select One &gt;</option>
		<option value="ABBEVILLE">ABBEVILLE</option>
		<option value="ABERDEEN">ABERDEEN</option>
		<option value="ACKERMAN">ACKERMAN</option>
		<option value="AGRICOLA">AGRICOLA</option>
		<option value="ALGOMA">ALGOMA</option>
		<option value="ALLIGATOR">ALLIGATOR</option>
		<option value="AMORY">AMORY</option>
		<option value="ANGUILLA">ANGUILLA</option>
		<option value="ARCOLA">ARCOLA</option>
		<option value="ARKABUTLA">ARKABUTLA</option>
		<option value="ARTESIA">ARTESIA</option>
		<option value="ASHLAND">ASHLAND</option>
		<option value="ASKEW">ASKEW</option>
		<option value="AVALON">AVALON</option>
		<option value="AVON">AVON</option>
		<option value="BAILEY">BAILEY</option>
		<option value="BAIRD">BAIRD</option>
		<option value="BALDWYN">BALDWYN</option>
		<option value="BANNER">BANNER</option>
		<option value="BASSFIELD">BASSFIELD</option>
		<option value="BATESVILLE">BATESVILLE</option>
		<option value="BAY SAINT LOUIS">BAY SAINT LOUIS</option>
		<option value="BAY SPRINGS">BAY SPRINGS</option>
		<option value="BAY ST LOUIS">BAY ST LOUIS</option>
		<option value="BEAUMONT">BEAUMONT</option>
		<option value="BECKER">BECKER</option>
		<option value="BELDEN">BELDEN</option>
		<option value="BELLEFONTAINE">BELLEFONTAINE</option>
		<option value="BELMONT">BELMONT</option>
		<option value="BELZONI">BELZONI</option>
		<option value="BENNDALE">BENNDALE</option>
		<option value="BENOIT">BENOIT</option>
		<option value="BENTON">BENTON</option>
		<option value="BENTONIA">BENTONIA</option>
		<option value="BEULAH">BEULAH</option>
		<option value="BIG CREEK">BIG CREEK</option>
		<option value="BIGBEE VALLEY">BIGBEE VALLEY</option>
		<option value="BILOXI">BILOXI</option>
		<option value="BLUE MOUNTAIN">BLUE MOUNTAIN</option>
		<option value="BLUE SPRINGS">BLUE SPRINGS</option>
		<option value="BOGUE CHITTO">BOGUE CHITTO</option>
		<option value="BOLTON">BOLTON</option>
		<option value="BOONEVILLE">BOONEVILLE</option>
		<option value="BOYLE">BOYLE</option>
		<option value="BRANDON">BRANDON</option>
		<option value="BRAXTON">BRAXTON</option>
		<option value="BROOKHAVEN">BROOKHAVEN</option>
		<option value="BROOKLYN">BROOKLYN</option>
		<option value="BROOKSVILLE">BROOKSVILLE</option>
		<option value="BRUCE">BRUCE</option>
		<option value="BUCKATUNNA">BUCKATUNNA</option>
		<option value="BUDE">BUDE</option>
		<option value="BURNSVILLE">BURNSVILLE</option>
		<option value="BYHALIA">BYHALIA</option>
		<option value="BYRAM">BYRAM</option>
		<option value="CALEDONIA">CALEDONIA</option>
		<option value="CALHOUN CITY">CALHOUN CITY</option>
		<option value="CAMDEN">CAMDEN</option>
		<option value="CANAAN">CANAAN</option>
		<option value="CANTON">CANTON</option>
		<option value="CARRIERE">CARRIERE</option>
		<option value="CARROLLTON">CARROLLTON</option>
		<option value="CARSON">CARSON</option>
		<option value="CARTHAGE">CARTHAGE</option>
		<option value="CARY">CARY</option>
		<option value="CASCILLA">CASCILLA</option>
		<option value="CEDARBLUFF">CEDARBLUFF</option>
		<option value="CENTREVILLE">CENTREVILLE</option>
		<option value="CHARLESTON">CHARLESTON</option>
		<option value="CHATAWA">CHATAWA</option>
		<option value="CHATHAM">CHATHAM</option>
		<option value="CHOCTAW">CHOCTAW</option>
		<option value="CHUNKY">CHUNKY</option>
		<option value="CHURCH HILL">CHURCH HILL</option>
		<option value="CLARA">CLARA</option>
		<option value="CLARKSDALE">CLARKSDALE</option>
		<option value="CLERMONT HARBOR">CLERMONT HARBOR</option>
		<option value="CLERMONT HBR">CLERMONT HBR</option>
		<option value="CLEVELAND">CLEVELAND</option>
		<option value="CLINTON">CLINTON</option>
		<option value="COAHOMA">COAHOMA</option>
		<option value="COFFEEVILLE">COFFEEVILLE</option>
		<option value="COILA">COILA</option>
		<option value="COLDWATER">COLDWATER</option>
		<option value="COLLINS">COLLINS</option>
		<option value="COLLINSVILLE">COLLINSVILLE</option>
		<option value="COLUMBIA">COLUMBIA</option>
		<option value="COLUMBUS">COLUMBUS</option>
		<option value="COLUMBUS AFB">COLUMBUS AFB</option>
		<option value="COMO">COMO</option>
		<option value="CONEHATTA">CONEHATTA</option>
		<option value="CORINTH">CORINTH</option>
		<option value="COURTLAND">COURTLAND</option>
		<option value="CRAWFORD">CRAWFORD</option>
		<option value="CRENSHAW">CRENSHAW</option>
		<option value="CROSBY">CROSBY</option>
		<option value="CROWDER">CROWDER</option>
		<option value="CRUGER">CRUGER</option>
		<option value="CRYSTAL SPGS">CRYSTAL SPGS</option>
		<option value="CRYSTAL SPRINGS">CRYSTAL SPRINGS</option>
		<option value="D LO">D LO</option>
		<option value="DALEVILLE">DALEVILLE</option>
		<option value="DARLING">DARLING</option>
		<option value="DE KALB">DE KALB</option>
		<option value="DECATUR">DECATUR</option>
		<option value="DELTA CITY">DELTA CITY</option>
		<option value="DENNIS">DENNIS</option>
		<option value="DERMA">DERMA</option>
		<option value="DIAMONDHEAD">DIAMONDHEAD</option>
		<option value="DIBERVILLE">DIBERVILLE</option>
		<option value="DODDSVILLE">DODDSVILLE</option>
		<option value="DREW">DREW</option>
		<option value="DUBLIN">DUBLIN</option>
		<option value="DUCK HILL">DUCK HILL</option>
		<option value="DUMAS">DUMAS</option>
		<option value="DUNCAN">DUNCAN</option>
		<option value="DUNDEE">DUNDEE</option>
		<option value="DURANT">DURANT</option>
		<option value="EASTABUCHIE">EASTABUCHIE</option>
		<option value="ECRU">ECRU</option>
		<option value="EDWARDS">EDWARDS</option>
		<option value="EGYPT">EGYPT</option>
		<option value="ELIZABETH">ELIZABETH</option>
		<option value="ELLIOTT">ELLIOTT</option>
		<option value="ELLISVILLE">ELLISVILLE</option>
		<option value="ENID">ENID</option>
		<option value="ENTERPRISE">ENTERPRISE</option>
		<option value="ESCATAWPA">ESCATAWPA</option>
		<option value="ETHEL">ETHEL</option>
		<option value="ETTA">ETTA</option>
		<option value="EUPORA">EUPORA</option>
		<option value="FALKNER">FALKNER</option>
		<option value="FARRELL">FARRELL</option>
		<option value="FAYETTE">FAYETTE</option>
		<option value="FERNWOOD">FERNWOOD</option>
		<option value="FITLER">FITLER</option>
		<option value="FLORA">FLORA</option>
		<option value="FLORENCE">FLORENCE</option>
		<option value="FLOWOOD">FLOWOOD</option>
		<option value="FOREST">FOREST</option>
		<option value="FOXWORTH">FOXWORTH</option>
		<option value="FRENCH CAMP">FRENCH CAMP</option>
		<option value="FRIARS POINT">FRIARS POINT</option>
		<option value="FULTON">FULTON</option>
		<option value="GALLMAN">GALLMAN</option>
		<option value="GATTMAN">GATTMAN</option>
		<option value="GAUTIER">GAUTIER</option>
		<option value="GEORGETOWN">GEORGETOWN</option>
		<option value="GLEN">GLEN</option>
		<option value="GLEN ALLAN">GLEN ALLAN</option>
		<option value="GLENDORA">GLENDORA</option>
		<option value="GLOSTER">GLOSTER</option>
		<option value="GOLDEN">GOLDEN</option>
		<option value="GOODMAN">GOODMAN</option>
		<option value="GORE SPRINGS">GORE SPRINGS</option>
		<option value="GRACE">GRACE</option>
		<option value="GREENVILLE">GREENVILLE</option>
		<option value="GREENWOOD">GREENWOOD</option>
		<option value="GREENWOOD SPG">GREENWOOD SPG</option>
		<option value="GREENWOOD SPR">GREENWOOD SPR</option>
		<option value="GREENWOOD SPRINGS">GREENWOOD SPRINGS</option>
		<option value="GRENADA">GRENADA</option>
		<option value="GULFPORT">GULFPORT</option>
		<option value="GUNNISON">GUNNISON</option>
		<option value="GUNTOWN">GUNTOWN</option>
		<option value="HAMILTON">HAMILTON</option>
		<option value="HARPERVILLE">HARPERVILLE</option>
		<option value="HARRISVILLE">HARRISVILLE</option>
		<option value="HATTIESBURG">HATTIESBURG</option>
		<option value="HAZLEHURST">HAZLEHURST</option>
		<option value="HEIDELBERG">HEIDELBERG</option>
		<option value="HERMANVILLE">HERMANVILLE</option>
		<option value="HERNANDO">HERNANDO</option>
		<option value="HICKORY">HICKORY</option>
		<option value="HICKORY FLAT">HICKORY FLAT</option>
		<option value="HILLSBORO">HILLSBORO</option>
		<option value="HOLCOMB">HOLCOMB</option>
		<option value="HOLLANDALE">HOLLANDALE</option>
		<option value="HOLLY BLUFF">HOLLY BLUFF</option>
		<option value="HOLLY SPRINGS">HOLLY SPRINGS</option>
		<option value="HORN LAKE">HORN LAKE</option>
		<option value="HOULKA">HOULKA</option>
		<option value="HOUSTON">HOUSTON</option>
		<option value="HURLEY">HURLEY</option>
		<option value="INDEPENDENCE">INDEPENDENCE</option>
		<option value="INDIANOLA">INDIANOLA</option>
		<option value="INVERNESS">INVERNESS</option>
		<option value="ISOLA">ISOLA</option>
		<option value="ITTA BENA">ITTA BENA</option>
		<option value="IUKA">IUKA</option>
		<option value="JACKSON">JACKSON</option>
		<option value="JAYESS">JAYESS</option>
		<option value="JONESTOWN">JONESTOWN</option>
		<option value="KEESLER AFB">KEESLER AFB</option>
		<option value="KILMICHAEL">KILMICHAEL</option>
		<option value="KILN">KILN</option>
		<option value="KOKOMO">KOKOMO</option>
		<option value="KOSCIUSKO">KOSCIUSKO</option>
		<option value="KOSSUTH">KOSSUTH</option>
		<option value="KREOLE">KREOLE</option>
		<option value="LAFAYETTE">LAFAYETTE</option>
		<option value="LAKE">LAKE</option>
		<option value="LAKE CORMORANT">LAKE CORMORANT</option>
		<option value="LAKESHORE">LAKESHORE</option>
		<option value="LAMAR">LAMAR</option>
		<option value="LAMBERT">LAMBERT</option>
		<option value="LAMONT">LAMONT</option>
		<option value="LAUDERDALE">LAUDERDALE</option>
		<option value="LAUREL">LAUREL</option>
		<option value="LAWRENCE">LAWRENCE</option>
		<option value="LEAF">LEAF</option>
		<option value="LEAKESVILLE">LEAKESVILLE</option>
		<option value="LEARNED">LEARNED</option>
		<option value="LELAND">LELAND</option>
		<option value="LENA">LENA</option>
		<option value="LEXINGTON">LEXINGTON</option>
		<option value="LIBERTY">LIBERTY</option>
		<option value="LITTLE ROCK">LITTLE ROCK</option>
		<option value="LK CORMORANT">LK CORMORANT</option>
		<option value="LONG BEACH">LONG BEACH</option>
		<option value="LORMAN">LORMAN</option>
		<option value="LOUIN">LOUIN</option>
		<option value="LOUISE">LOUISE</option>
		<option value="LOUISVILLE">LOUISVILLE</option>
		<option value="LUCEDALE">LUCEDALE</option>
		<option value="LUDLOW">LUDLOW</option>
		<option value="LULA">LULA</option>
		<option value="LUMBERTON">LUMBERTON</option>
		<option value="LYON">LYON</option>
		<option value="MABEN">MABEN</option>
		<option value="MACON">MACON</option>
		<option value="MADDEN">MADDEN</option>
		<option value="MADISON">MADISON</option>
		<option value="MAGEE">MAGEE</option>
		<option value="MAGNOLIA">MAGNOLIA</option>
		<option value="MANTACHIE">MANTACHIE</option>
		<option value="MANTEE">MANTEE</option>
		<option value="MARIETTA">MARIETTA</option>
		<option value="MARION">MARION</option>
		<option value="MARKS">MARKS</option>
		<option value="MATHISTON">MATHISTON</option>
		<option value="MATTSON">MATTSON</option>
		<option value="MAYERSVILLE">MAYERSVILLE</option>
		<option value="MAYHEW">MAYHEW</option>
		<option value="MC ADAMS">MC ADAMS</option>
		<option value="MC CALL CREEK">MC CALL CREEK</option>
		<option value="MC CARLEY">MC CARLEY</option>
		<option value="MC COOL">MC COOL</option>
		<option value="MC HENRY">MC HENRY</option>
		<option value="MC LAIN">MC LAIN</option>
		<option value="MC NEILL">MC NEILL</option>
		<option value="MCCOMB">MCCOMB</option>
		<option value="MEADVILLE">MEADVILLE</option>
		<option value="MENDENHALL">MENDENHALL</option>
		<option value="MERIDIAN">MERIDIAN</option>
		<option value="MERIGOLD">MERIGOLD</option>
		<option value="METCALFE">METCALFE</option>
		<option value="MICHIGAN CITY">MICHIGAN CITY</option>
		<option value="MIDNIGHT">MIDNIGHT</option>
		<option value="MINERAL WELLS">MINERAL WELLS</option>
		<option value="MINTER CITY">MINTER CITY</option>
		<option value="MISSISSIPPI STATE">MISSISSIPPI STATE</option>
		<option value="MIZE">MIZE</option>
		<option value="MONTICELLO">MONTICELLO</option>
		<option value="MONTPELIER">MONTPELIER</option>
		<option value="MOOREVILLE">MOOREVILLE</option>
		<option value="MOORHEAD">MOORHEAD</option>
		<option value="MORGAN CITY">MORGAN CITY</option>
		<option value="MORGANTOWN">MORGANTOWN</option>
		<option value="MORTON">MORTON</option>
		<option value="MOSELLE">MOSELLE</option>
		<option value="MOSS">MOSS</option>
		<option value="MOSS POINT">MOSS POINT</option>
		<option value="MOUND BAYOU">MOUND BAYOU</option>
		<option value="MOUNT OLIVE">MOUNT OLIVE</option>
		<option value="MOUNT PLEASANT">MOUNT PLEASANT</option>
		<option value="MS STATE">MS STATE</option>
		<option value="MT PLEASANT">MT PLEASANT</option>
		<option value="MYRTLE">MYRTLE</option>
		<option value="N CARROLLTON">N CARROLLTON</option>
		<option value="NAS MERIDIAN">NAS MERIDIAN</option>
		<option value="NATCHEZ">NATCHEZ</option>
		<option value="NAVAL AIR STA MERIDIAN">NAVAL AIR STA MERIDIAN</option>
		<option value="NEELY">NEELY</option>
		<option value="NESBIT">NESBIT</option>
		<option value="NETTLETON">NETTLETON</option>
		<option value="NEW ALBANY">NEW ALBANY</option>
		<option value="NEW AUGUSTA">NEW AUGUSTA</option>
		<option value="NEW SITE">NEW SITE</option>
		<option value="NEWHEBRON">NEWHEBRON</option>
		<option value="NEWTON">NEWTON</option>
		<option value="NICHOLSON">NICHOLSON</option>
		<option value="NITTA YUMA">NITTA YUMA</option>
		<option value="NORTH CARROLLTON">NORTH CARROLLTON</option>
		<option value="NOXAPATER">NOXAPATER</option>
		<option value="OAK VALE">OAK VALE</option>
		<option value="OAKLAND">OAKLAND</option>
		<option value="OCEAN SPRINGS">OCEAN SPRINGS</option>
		<option value="OKOLONA">OKOLONA</option>
		<option value="OLIVE BRANCH">OLIVE BRANCH</option>
		<option value="OSYKA">OSYKA</option>
		<option value="OVETT">OVETT</option>
		<option value="OXFORD">OXFORD</option>
		<option value="PACE">PACE</option>
		<option value="PACHUTA">PACHUTA</option>
		<option value="PANTHER BURN">PANTHER BURN</option>
		<option value="PARCHMAN">PARCHMAN</option>
		<option value="PARIS">PARIS</option>
		<option value="PASCAGOULA">PASCAGOULA</option>
		<option value="PASS CHRIS">PASS CHRIS</option>
		<option value="PASS CHRISTIAN">PASS CHRISTIAN</option>
		<option value="PASS CHRISTIN">PASS CHRISTIN</option>
		<option value="PATTISON">PATTISON</option>
		<option value="PAULDING">PAULDING</option>
		<option value="PEARL">PEARL</option>
		<option value="PEARLINGTON">PEARLINGTON</option>
		<option value="PELAHATCHIE">PELAHATCHIE</option>
		<option value="PERKINSTON">PERKINSTON</option>
		<option value="PETAL">PETAL</option>
		<option value="PHEBA">PHEBA</option>
		<option value="PHILADELPHIA">PHILADELPHIA</option>
		<option value="PHILIPP">PHILIPP</option>
		<option value="PICAYUNE">PICAYUNE</option>
		<option value="PICKENS">PICKENS</option>
		<option value="PINEY WOODS">PINEY WOODS</option>
		<option value="PINOLA">PINOLA</option>
		<option value="PITTSBORO">PITTSBORO</option>
		<option value="PLANTERSVILLE">PLANTERSVILLE</option>
		<option value="PONTOTOC">PONTOTOC</option>
		<option value="POPE">POPE</option>
		<option value="POPLARVILLE">POPLARVILLE</option>
		<option value="PORT GIBSON">PORT GIBSON</option>
		<option value="PORTERVILLE">PORTERVILLE</option>
		<option value="POTTS CAMP">POTTS CAMP</option>
		<option value="PRAIRIE">PRAIRIE</option>
		<option value="PRAIRIE POINT">PRAIRIE POINT</option>
		<option value="PRENTISS">PRENTISS</option>
		<option value="PRESTON">PRESTON</option>
		<option value="PUCKETT">PUCKETT</option>
		<option value="PULASKI">PULASKI</option>
		<option value="PURVIS">PURVIS</option>
		<option value="QUITMAN">QUITMAN</option>
		<option value="RALEIGH">RALEIGH</option>
		<option value="RANDOLPH">RANDOLPH</option>
		<option value="RAYMOND">RAYMOND</option>
		<option value="RED BANKS">RED BANKS</option>
		<option value="REDWOOD">REDWOOD</option>
		<option value="REFORM">REFORM</option>
		<option value="RENA LARA">RENA LARA</option>
		<option value="RICH">RICH</option>
		<option value="RICHLAND">RICHLAND</option>
		<option value="RICHTON">RICHTON</option>
		<option value="RIDGELAND">RIDGELAND</option>
		<option value="RIENZI">RIENZI</option>
		<option value="RIPLEY">RIPLEY</option>
		<option value="ROBINSONVILLE">ROBINSONVILLE</option>
		<option value="ROLLING FORK">ROLLING FORK</option>
		<option value="ROME">ROME</option>
		<option value="ROSE HILL">ROSE HILL</option>
		<option value="ROSEDALE">ROSEDALE</option>
		<option value="ROXIE">ROXIE</option>
		<option value="RULEVILLE">RULEVILLE</option>
		<option value="RUTH">RUTH</option>
		<option value="SALLIS">SALLIS</option>
		<option value="SALTILLO">SALTILLO</option>
		<option value="SANATORIUM">SANATORIUM</option>
		<option value="SANDERSVILLE">SANDERSVILLE</option>
		<option value="SANDHILL">SANDHILL</option>
		<option value="SANDY HOOK">SANDY HOOK</option>
		<option value="SARAH">SARAH</option>
		<option value="SARDIS">SARDIS</option>
		<option value="SAREPTA">SAREPTA</option>
		<option value="SATARTIA">SATARTIA</option>
		<option value="SAUCIER">SAUCIER</option>
		<option value="SAVAGE">SAVAGE</option>
		<option value="SCHLATER">SCHLATER</option>
		<option value="SCOBEY">SCOBEY</option>
		<option value="SCOOBA">SCOOBA</option>
		<option value="SCOTT">SCOTT</option>
		<option value="SEBASTOPOL">SEBASTOPOL</option>
		<option value="SEMINARY">SEMINARY</option>
		<option value="SENATOBIA">SENATOBIA</option>
		<option value="SHANNON">SHANNON</option>
		<option value="SHARON">SHARON</option>
		<option value="SHAW">SHAW</option>
		<option value="SHELBY">SHELBY</option>
		<option value="SHERARD">SHERARD</option>
		<option value="SHERMAN">SHERMAN</option>
		<option value="SHUBUTA">SHUBUTA</option>
		<option value="SHUQUALAK">SHUQUALAK</option>
		<option value="SIBLEY">SIBLEY</option>
		<option value="SIDON">SIDON</option>
		<option value="SILVER CITY">SILVER CITY</option>
		<option value="SILVER CREEK">SILVER CREEK</option>
		<option value="SKENE">SKENE</option>
		<option value="SLATE SPRING">SLATE SPRING</option>
		<option value="SLEDGE">SLEDGE</option>
		<option value="SMITHDALE">SMITHDALE</option>
		<option value="SMITHVILLE">SMITHVILLE</option>
		<option value="SONTAG">SONTAG</option>
		<option value="SOSO">SOSO</option>
		<option value="SOUTHAVEN">SOUTHAVEN</option>
		<option value="STAR">STAR</option>
		<option value="STARKVILLE">STARKVILLE</option>
		<option value="STATE LINE">STATE LINE</option>
		<option value="STEENS">STEENS</option>
		<option value="STENNIS CTR">STENNIS CTR</option>
		<option value="STENNIS SP CT">STENNIS SP CT</option>
		<option value="STENNIS SPACE CENTER">STENNIS SPACE CENTER</option>
		<option value="STEWART">STEWART</option>
		<option value="STONEVILLE">STONEVILLE</option>
		<option value="STONEWALL">STONEWALL</option>
		<option value="STOVALL">STOVALL</option>
		<option value="STRINGER">STRINGER</option>
		<option value="STURGIS">STURGIS</option>
		<option value="SUMMIT">SUMMIT</option>
		<option value="SUMNER">SUMNER</option>
		<option value="SUMRALL">SUMRALL</option>
		<option value="SUNFLOWER">SUNFLOWER</option>
		<option value="SWAN LAKE">SWAN LAKE</option>
		<option value="SWIFTOWN">SWIFTOWN</option>
		<option value="TAYLOR">TAYLOR</option>
		<option value="TAYLORSVILLE">TAYLORSVILLE</option>
		<option value="TCHULA">TCHULA</option>
		<option value="TERRY">TERRY</option>
		<option value="THAXTON">THAXTON</option>
		<option value="THOMASTOWN">THOMASTOWN</option>
		<option value="THORNTON">THORNTON</option>
		<option value="TIE PLANT">TIE PLANT</option>
		<option value="TILLATOBA">TILLATOBA</option>
		<option value="TINSLEY">TINSLEY</option>
		<option value="TIPLERSVILLE">TIPLERSVILLE</option>
		<option value="TIPPO">TIPPO</option>
		<option value="TISHOMINGO">TISHOMINGO</option>
		<option value="TOCCOPOLA">TOCCOPOLA</option>
		<option value="TOMNOLEN">TOMNOLEN</option>
		<option value="TOOMSUBA">TOOMSUBA</option>
		<option value="TOUGALOO">TOUGALOO</option>
		<option value="TREBLOC">TREBLOC</option>
		<option value="TREMONT">TREMONT</option>
		<option value="TUNICA">TUNICA</option>
		<option value="TUPELO">TUPELO</option>
		<option value="TUTWILER">TUTWILER</option>
		<option value="TYLERTOWN">TYLERTOWN</option>
		<option value="UNION">UNION</option>
		<option value="UNION CHURCH">UNION CHURCH</option>
		<option value="UNIVERSITY">UNIVERSITY</option>
		<option value="UTICA">UTICA</option>
		<option value="VAIDEN">VAIDEN</option>
		<option value="VALLEY PARK">VALLEY PARK</option>
		<option value="VAN VLEET">VAN VLEET</option>
		<option value="VANCE">VANCE</option>
		<option value="VANCLEAVE">VANCLEAVE</option>
		<option value="VARDAMAN">VARDAMAN</option>
		<option value="VAUGHAN">VAUGHAN</option>
		<option value="VERONA">VERONA</option>
		<option value="VICKSBURG">VICKSBURG</option>
		<option value="VICTORIA">VICTORIA</option>
		<option value="VOSSBURG">VOSSBURG</option>
		<option value="WALLS">WALLS</option>
		<option value="WALNUT">WALNUT</option>
		<option value="WALNUT GROVE">WALNUT GROVE</option>
		<option value="WALTHALL">WALTHALL</option>
		<option value="WASHINGTON">WASHINGTON</option>
		<option value="WATER VALLEY">WATER VALLEY</option>
		<option value="WATERFORD">WATERFORD</option>
		<option value="WAVELAND">WAVELAND</option>
		<option value="WAYNESBORO">WAYNESBORO</option>
		<option value="WAYSIDE">WAYSIDE</option>
		<option value="WEBB">WEBB</option>
		<option value="WEIR">WEIR</option>
		<option value="WESSON">WESSON</option>
		<option value="WEST">WEST</option>
		<option value="WEST POINT">WEST POINT</option>
		<option value="WHEELER">WHEELER</option>
		<option value="WHITFIELD">WHITFIELD</option>
		<option value="WIGGINS">WIGGINS</option>
		<option value="WINONA">WINONA</option>
		<option value="WINSTONVILLE">WINSTONVILLE</option>
		<option value="WINTERVILLE">WINTERVILLE</option>
		<option value="WOODLAND">WOODLAND</option>
		<option value="WOODVILLE">WOODVILLE</option>
		<option value="YAZOO CITY">YAZOO CITY</option>

	</select>
              </div>
            </div>

            <div class="form-group">
              <label for="nameField" class="col-xs-2">Zip Code</label>
              <div class="col-xs-10">
                <input type="text" class="form-control" id="nameField" placeholder="Zip Code" />
              </div>
            </div> 
          <!--
            <div class="form-group">
              <label for="emailField" class="col-xs-2">Provider Type</label>
              <div class="col-xs-10">
                 <select class="form-control selcls" id="type">
         <option value="">&lt;Select One&gt;</option>
		<option value="03">Group Home</option>
		<option value="04">Center</option>
		<option value="05">Non Relative In Home</option>
		<option value="07">Non Relative Out of Home</option>
		<option value="02">Slot Contractor</option>
        </select> 

              </div>
            </div>
          
         
          
            <div class="form-group">
              <label for="descField" class="col-xs-2">County</label>
              <div class="col-xs-10">
                 <select class="form-control selcls" id="county">
		<option value="">&lt; Select One &gt;</option>
		<option value="01">ADAMS</option>
		<option value="02">ALCORN</option>
		<option value="03">AMITE</option>
		<option value="04">ATTALA</option>
		<option value="05">BENTON</option>
		<option value="06">BOLIVAR</option>
		<option value="07">CALHOUN</option>
		<option value="08">CARROLL</option>
		<option value="09">CHICKASAW</option>
		<option value="10">CHOCTAW</option>
		<option value="11">CLAIBORNE</option>
		<option value="12">CLARKE</option>
		<option value="13">CLAY</option>
		<option value="14">COAHOMA</option>
		<option value="15">COPIAH</option>
		<option value="16">COVINGTON</option>
		<option value="17">DESOTO</option>
		<option value="18">FORREST</option>
		<option value="19">FRANKLIN</option>
		<option value="20">GEORGE</option>
		<option value="21">GREENE</option>
		<option value="22">GRENADA</option>
		<option value="23">HANCOCK</option>
		<option value="24">HARRISON</option>
		<option value="25">HINDS</option>
		<option value="26">HOLMES</option>
		<option value="27">HUMPHREYS</option>
		<option value="28">ISSAQUENA</option>
		<option value="29">ITAWAMBA</option>
		<option value="30">JACKSON</option>
		<option value="31">JASPER</option>
		<option value="32">JEFFERSON</option>
		<option value="33">JEFFERSON DAVIS</option>
		<option value="34">JONES</option>
		<option value="35">KEMPER</option>
		<option value="36">LAFAYETTE</option>
		<option value="37">LAMAR</option>
		<option value="38">LAUDERDALE</option>
		<option value="39">LAWRENCE</option>
		<option value="40">LEAKE</option>
		<option value="41">LEE</option>
		<option value="42">LEFLORE</option>
		<option value="43">LINCOLN</option>
		<option value="44">LOWNDES</option>
		<option value="45">MADISON</option>
		<option value="46">MARION</option>
		<option value="47">MARSHALL</option>
		<option value="48">MONROE</option>
		<option value="49">MONTGOMERY</option>
		<option value="50">NESHOBA</option>
		<option value="51">NEWTON</option>
		<option value="52">NOXUBEE</option>
		<option value="53">OKTIBBEHA</option>
		<option value="54">PANOLA</option>
		<option value="55">PEARL RIVER</option>
		<option value="56">PERRY</option>
		<option value="57">PIKE</option>
		<option value="58">PONTOTOC</option>
		<option value="59">PRENTISS</option>
		<option value="60">QUITMAN</option>
		<option value="61">RANKIN</option>
		<option value="62">SCOTT</option>
		<option value="63">SHARKEY</option>
		<option value="64">SIMPSON</option>
		<option value="65">SMITH</option>
		<option value="66">STONE</option>
		<option value="67">SUNFLOWER</option>
		<option value="68">TALLAHATCHIE</option>
		<option value="69">TATE</option>
		<option value="70">TIPPAH</option>
		<option value="71">TISHOMINGO</option>
		<option value="72">TUNICA</option>
		<option value="73">UNION</option>
		<option value="74">WALTHALL</option>
		<option value="75">WARREN</option>
		<option value="76">WASHINGTON</option>
		<option value="77">WAYNE</option>
		<option value="78">WEBSTER</option>
		<option value="79">WILKINSON</option>
		<option value="80">WINSTON</option>
		<option value="81">YALOBUSHA</option>
		<option value="82">YAZOO</option>

	</select>
              </div>
            </div>

            <div class="form-group">
              <label for="descField" class="col-xs-2">Quality Star Rating</label>
              <div class="col-xs-10">
                  <select class="form-control selcls" id="rating">
		<option value="">&lt;Select One&gt;</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>

	</select>

	</select>
              </div>
            </div> -->
            
            <div class="col-xs-10 col-xs-offset-2">
              <button type="submit" class="btn btn-primary">Submit</button>
               <button type="reset" class="btn btn-default">Reset</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>

<div class="panel panel-primary" >
       
            <div class="panel-heading">Search Results</div>
            
           
            <div class="panel-body">

<div class="container">
      <!-- Horizonatal Form -->
      <div class="row">
        <div class="col-xs-6">
			@Model.ProviderName
        </div>
      </div>
    </div>
    </div>
    </div>
