@model Provider
@{
    ViewData["Title"] = "Search Provider";
}

<div class="container">
    <div class="OuterMostClass row">
        <div class="OuterMostClass col-xs-6">
           <div class="jumbotron">
             <h2>Subsidized Childcare</h2>
             <p>If you are a parent or a social worker or looking for subsidizing day care facilities search below</p>
          </div>
        </div>
        <div class="OuterMostClass col-xs-6">
           <div class="jumbotron">
             <h2>All Childcare Facilities</h2>
             <p>If you are a parent or a social worker or looking for all day care facilities click <a href="http://msdh.ms.gov/msdhsite/_static/30,332,183,438.html">here</a>.<br></p>
           </div>
        </div>
    </div> 
</div>
<div class="container">
<div class="panel panel-primary" >
       
            <div class="panel-heading"><h3>Search Child Care Provider</h3></div>
            <div class="panel-body">

<div class="container">
	
      <!-- Horizonatal Form -->
      <div class="row">
        <div class="col-xs-9">
          <form class="form-horizontal">
            <div class="form-group">
            
              <div class="ccol-xs-10 col-xs-offset-5">
                <input type="text" class="form-control" id="txtName" placeholder="City or Zip Code" />
              </div>
            </div>

           
            
            <div class="col-xs-offset-6">
            <button type="submit" class="btn btn-default" id="btnSubmit">Submit</button>
			 
               <button type="reset" class="btn btn-default">Reset</button>
            </div>

            
          </form>
        </div>
      </div>
    </div>
   </div>
</div>
</div>

<br>
			
<div class="container">

<div class="accordion ">
<h2 class="acc_trigger"><a href="#">Filter Options</a></h2>
<div class="acc_container">
<div class="row"> 
  
  <div class="col-md-2">
    <label for="textbox">Distance</label>
    <select class="form-control" id="radiusselect" name="radiusselect">
      <option>5 Miles</option>
      <option>10 Miles</option>
      <option>15 Miles</option>
      <option>20 Miles</option>
      <option>25 Miles</option>
      <option>50 Miles</option>
    </select>
  </div>

  <div class="col-md-2">
    <label for="qualityselect">Quality Rating</label>
    <select class="form-control" id="qualityselect" name="qualityselect">
      <option>Not Rated</option>
      <option>Rated</option>
    </select>
  </div>

  <div class="col-md-3">
    <label for="textbox">Provider Type</label>
    <label for="provtypeselect">Quality Rating</label>
    <select class="form-control" id="provtypeselect" name="provtypeselect">
      <option>Center</option>
      <option>Group Home</option>
      <option>Non-Relative In-Home</option>
      <option>Non-Relative Out-of-Home</option>
      <option>Relative In-Home</option>
      <option>Relative Out-of-Home</option>
      <option>Slot Contractor</option>
    </select>
  </div>

  <div class="col-md-2">
    <label for="optavailability">Availability</label>
      <div class="radio">
        <input type="radio" name="optavailability" value="Yes">Yes
      </div>
      <div class="radio">
        <input type="radio" name="optavailability" value="No">No
      </div>
  </div>

  <div class="col-md-3">
    <label for="optspecialneed">Special Needs</label>
      <div class="radio">
        <label><input type="radio" name="optspecialneed" value="Yes">Yes</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optspecialneed" value="No">No</label>
      </div>
  </div>
  </div>

</div>

  </div>
</div>



			 <br>


<script>  
    $('.expandContent').click(function(){
        $('.showMe').toggle();
    });
</script>

       <br>



<div class="container">
    <div class="OuterMostClass row">
        <div class="outerClass col-xs-7">
            <!--<table id="list2">
        </table><div id="pager2"></div>-->
     <h3> <div id ="divresults">  Your results..</div> </h3> <br />
            <div id= "list" style="overflow:auto;"> </div>
        </div>
       
        <div class="outerClass2 col-xs-5">
        
     
           <div id="map_canvas" style=" width:100%;height:20%; border: 2px solid #3872ac; width:650px;height:500px;" ></div>
        </div>
    </div> 
</div>


</div>

	

</div>	    

<script>


		function getLocationCoordinate(address) {
 
    var position = {};
    $.ajax({
        url : 'http://maps.google.com/maps/api/geocode/json',
        type : 'GET',
        data : {
            address : address,
            sensor : false
        },
        async : false,
        success : function(result) {
 
            try {
                position.lat = result.results[0].geometry.location.lat;
                position.lng = result.results[0].geometry.location.lng;
            } catch(err) {
                position = null;
            }
 
        }
    });
    return  position ;
}


	 var firstClick = true;
   var inputradius = null;
   var qualityrating = null;
   var providertype = null;
   var availability = null;
   var specialneeds = null;
        $(document).ready(function() {

 var divs=$('.accordion>div').hide(); //Hide/close all containers

    var h2s=$('.accordion>h2').click(function () {
        h2s.not(this).removeClass('active')
        $(this).toggleClass('active')
        divs.not($(this).next()).slideUp()
        $(this).next().slideToggle()
        return false; //Prevent the browser jump to the link anchor
    });
        
   $('#radiusselect').change( function() {
    inputradius = $('#radiusselect option:selected').text();
    alert(inputradius);
    });

   $('#qualityselect').change( function() {
    qualityrating = $('#qualityselect option:selected').text();
    alert(qualityrating);
    });

   $('#provtypeselect').change( function() {
    providertype = $('#provtypeselect option:selected').text();
    alert(providertype);
    });

   $(':radio[name = optavailability]').change( function() {
    availability = $(':radio[name = optavailability]:checked').val();
    alert(availability);
    });

   $(':radio[name = optspecialneed]').change( function() {
    specialneeds = $(':radio[name = optspecialneed]:checked').val();
    alert(specialneeds);
    });
    

 $('[id^=btnSubmit]').on('click', function (e) {
var enteredLocation = $("#txtName").val();
$('#list').html("");
$('#divresults').html('Results for ' + enteredLocation );
var mapLocations ;
	 $.ajax({ 
                type: 'GET', 
                 url: 'search/getprovider',
                data: {location: enteredLocation},
                dataType:'json',
				async:false,
                success: function (data) { 
                mapLocations = data;      
				         
                },
				 error: function (jqXHR, textStatus, errorThrown) {
                  alert(jqXHR.status+",  " + jqXHR.statusText+",  "+textStatus+",  "+errorThrown);
                }
            });


         
//jqgrid load

// 	  if (!firstClick) {
// 		$('#list2').jqGrid('GridUnload'); 
                    
// 	  }
// 	var enteredLocation = $("#txtName").val();

//  firstClick = false;

//  jQuery("#list2").jqGrid({
//       url:"search/getprovider?location="+enteredLocation,
// 	//data: { name: name1, city: city1, zip : zip1},
// width : '600',
// height: '420',
//     datatype: 'json',
//     colNames: ['Provider Name', 'Phone Number', 'City', 'Physical ZipCode', 'LicenseType', 'Rating'	],
//     colModel: [
       
// 		  {name:'ProviderName',index:'ProviderName' ,width:'55', align: 'center'},
//    		{name:'PhoneNumber',index:'PhoneNumber', width:'35', align: 'center'},
// 		    	{name:'PhysicalCity',index:'PhysicalCity', width:'35',align: 'center'},
// 		   	{name:'PhysicalZipCode',index:'PhysicalZipCode', width:'45', align: 'center'},
// 			   	{name:'LicenseType',index:'LicenseType', width:'35', align: 'center'},				  
// 					   {name:'QualityRating',index:'QualityRating', width:'25', align: 'center'}

       
//     ],
//      jsonReader: {
//             repeatitems: false,
//             root: function(obj) { return obj; },
//             page: function(obj) { return 1; },
//             total: function(obj) { return 1; },
//             records: function(obj) { return obj.length; }
//         },
//         loadonce: false,
//         pager: jQuery('#pager2'),
//         rowNum: 10,
//         rowList: [5, 10, 20, 50],
//         sortname: 'ProviderName',
//         sortorder: "asc",
//         viewrecords: false,
//         caption: 'Provider Search Result...',
// 			autowidth: false,  // set 'true' here
//                 shrinkToFit: true
//     })
// 	//.navGrid(pager, { edit: false, add: false, del: false, refresh: true, search: true });


 	var arr = [];
   var radiusinMiles = 5;
  var radius = radiusinMiles * 1609.34
  var latlng = getLocationCoordinate( $("#txtName").val());
  var lat = latlng.lat;
 var  lng = latlng.lng;


var url = 'https://www.googleapis.com/fusiontables/v2/query/?sql=SELECT%20PROVIDERNAME,LICENSETYPE,PROVIDERTYPEDESCRIPTION,QUALITYRATINGDESCRIPTION,PROVIDERCAPACITY,STREETADDRESS,PHYSICALCITY,PHYSICALZIPCODE,COUNTYNAME,PHONENUMBER,AVAILABILITY,SPECIALNEEDS%20FROM%201LJf1_wwE143AcOetenp8utlpTielLEDvWbbGw71A%20WHERE%20ST_INTERSECTS(LOCATIONWITHOUTNAME,%20CIRCLE(LATLNG(' + lat +',' + lng + '),' + radius  + '))'
 
 var urlappend ;
console.log(url);


urlappend = (providertype!=null) ? url + 'and PROVIDERTYPE=' + providertype : "";
urlappend = (qualityrating!=null || qualityrating==1) ? urlappend + 'and qualityrating>0': "";

urlappend = (availability!=null) ? urlappend + 'and AVAILABILITY=' + availability : "";
urlappend = (specialneeds!=null) ? urlappend + 'and SPECIALNEEDS=' + specialneeds : "";

urlappend = (urlappend!=null) ? url + '&key=AIzaSyAm9yWCV7JPCTHCJut8whOjARd7pwROFDQ' : "";


$.ajax(urlappend).done(function (results) {
  new_rows = results.rows.map(function(row) { 
arr.push([row[0],row[1],row[2],row[3],row[4],row[5],row[6],row[7],row[8],row[9],row[10],row[11]]);
 
   
  }) 

  initialize(arr);
    })



	//initialize( MakeLocations(mapLocations));



return false;
 });

 });
//jqgrid end
   


var geocoder;
var map;
var bounds = new google.maps.LatLngBounds();

function initialize(locations) {

  map = new google.maps.Map(
    document.getElementById("map_canvas"), {
      center: new google.maps.LatLng(32.4419, -89.1419),
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
  geocoder = new google.maps.Geocoder();

  for (i = 0; i < locations.length; i++) {


    geocodeAddress(locations, i);
  }
}
//google.maps.event.addDomListener(window, "load", initialize);

function geocodeAddress(locations, i) {

  var title = locations[i][0];
  var address =  locations[i][5] + " " + locations[i][6] + " " + locations[i][7];
  var address1 = "<b>Name of the Provider:</b> " + locations[i][0] + "<br> " + "<b>Address: </b>" + locations[i][5] + " " + locations[i][6] + " " + locations[i][7] + "<br> " + "<b>Phone: </b>" + locations[i][9] + "<br> " + "<b>Licenced: </b>" + locations[i][1] + "   " + "<b>Quality Rating: </b>" + locations[i][4]  + "<br> " + "<b>Special Services: </b>" + locations[i][11] + "   " + "<b>Availability: <b>" + locations[i][10];
  var url = locations[i][2];


 
  geocoder.geocode({
      'address': locations[i][5] + " " + locations[i][6] + " " + locations[i][7]
    },

    function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var marker = new google.maps.Marker({
          icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png',
          map: map,
          position: results[0].geometry.location,
          title: title,
          animation: google.maps.Animation.DROP,
          address: address,
          url: url
        })
        infoWindow(marker, map, title, address, url);
        bounds.extend(marker.getPosition());
        map.fitBounds(bounds);
      } else {
        alert("geocode of " + address + " failed:" + status);
      }

      	$("<div style='border-collapse: collapse;overflow-x:auto;border: 1px solid #3872ac; width:650px;height:105px;' > </div> <br>")
						.html(address1)
            .click(function(){
             
          
infoWindowOnItemClick(marker, map, title, address, url);

						})
						.appendTo("#list");
    });
}

function infoWindowOnItemClick(marker, map, title, address, url)
{

  var html = "<div ><h3>" + title + "</h3><p>" + address + "<br></div><a target='_blank' href='" + url + "'>View location</a></p></div>";
    iw = new google.maps.InfoWindow({
      content: html,
      maxWidth: 350
    });
        iw.open(map, marker);
}

function infoWindow(marker, map, title, address, url) {

  google.maps.event.addListener(marker, 'click', function() {
 
    var html = "<div id ='divinfo'><h3>" + title + "</h3><p>" + address + "<br></div><a target='_blank' href='" + url + "'>View location</a></p></div>";
    iw = new google.maps.InfoWindow({
      content: html,
      maxWidth: 350
    });

    iw.open(map, marker);
    
  });
}


   </script>


