@model Provider
@{
    ViewData["Title"] = "Search Provider";
}

<div class="container">
    <div class="OuterMostClass row">
        <div class="outerClass col-xs-6">
           <h4 class="display-4">If you are a parent or a social worker or looking for subsidizing day care facilities search below</h1>
        </div>
        <div class="outerClass2 col-xs-6">
           <h4 class="display-4">If you are a parent or a social worker or looking for all day care facilities click <a href="#">here</a>.</h1>
        </div>
    </div> 
</div>

<div class="panel panel-primary" >
       
            <div class="panel-heading">Search Child Care Provider</div>
            
           
            <div class="panel-body">

<div class="container">
	
      <!-- Horizonatal Form -->
      <div class="row">
        <div class="col-xs-9">
          <form class="form-horizontal">
            <div class="form-group">
            
              <div class="ccol-xs-10 col-xs-offset-5">
                <input type="text" class="form-control" id="txtName" placeholder="City or Zip Code" />
              </div>
            </div>

           
            
            <div class="col-xs-offset-6">
            <button type="submit" class="btn btn-default" id="btnSubmit">Submit</button>
			 
               <button type="reset" class="btn btn-default">Reset</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
   </div>
</div>

<table id="list2">
        </table><div id="pager2"></div>

           </div>

		    

<script>
	 var firstClick = true;
        $(document).ready(function() {
 $('[id^=btnSubmit]').on('click', function (e) {

	  if (!firstClick) {
		$('#list2').jqGrid('GridUnload'); 
                    
	  }
	var enteredLocation = $("#txtName").val();

 firstClick = false;

 jQuery("#list2").jqGrid({
      url:"search/getprovider?location="+enteredLocation,
	//data: { name: name1, city: city1, zip : zip1},	  
    datatype: 'json',
    colNames: ['Provider Name', 'Phone Number', 'City', 'Physical ZipCode', 'LicenseType', 'Rating'	],
    colModel: [
       
		  {name:'ProviderName',index:'ProviderName' ,width:'525', align: 'center'},
   		{name:'PhoneNumber',index:'PhoneNumber', width:'600', align: 'center'},
		    	{name:'PhysicalCity',index:'PhysicalCity', width:'600',align: 'center'},
		   	{name:'PhysicalZipCode',index:'PhysicalZipCode', width:'600', align: 'center'},
			   	{name:'LicenseType',index:'LicenseType', width:'600', align: 'center'},				  
					   {name:'QualityRating',index:'QualityRating', width:'600', align: 'center'}

       
    ],
     jsonReader: {
            repeatitems: false,
            root: function(obj) { return obj; },
            page: function(obj) { return 1; },
            total: function(obj) { return 1; },
            records: function(obj) { return obj.length; }
        },
        loadonce: false,
        pager: jQuery('#pager2'),
        rowNum: 10,
        rowList: [5, 10, 20, 50],
        sortname: 'ProviderName',
        sortorder: "asc",
        viewrecords: false,
        caption: 'Provider Search Result...',
			autowidth: true,  // set 'true' here
                shrinkToFit: true
    })
	//.navGrid(pager, { edit: false, add: false, del: false, refresh: true, search: true });
return false;
 });

 });

   

$(window).resize(function () {
            var outerwidth = $('#div1').width();
            $('#datagrid').setGridWidth(outerwidth); // setGridWidth method sets a new width to the grid dynamically
});

$(window).unbind('resize.myEvents').bind('resize.myEvents', function () {
        var outerwidth = $('#div1').width();
        $('#datagrid').setGridWidth(outerwidth);
    });
</script>