@model Provider
@{
    ViewData["Title"] = "Search Provider";
}

<div class="container">
    <div class="OuterMostClass row">
        <div class="OuterMostClass col-md-6">
            <div class="jumbotron">
                <h3>Subsidized Childcare</h3>
                <p>If you are a parent or a social worker or looking for subsidizing day care facilities search below</p>
            </div>
        </div>
        <div class="OuterMostClass col-md-6">
            <div class="jumbotron">
                <h3>All Childcare Facilities</h3>
                <p>If you are a parent or a social worker or looking for all day care facilities click <br><a href="http://msdh.ms.gov/msdhsite/_static/30,332,183,438.html">here</a>.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading"><h5>Search Child Care Provider</h5></div>
        <div class="panel-body">
            <div class="container">
                <!-- Horizonatal Form -->
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">&nbsp;</div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control " id="txtName" placeholder="City or Zip Code" />
                                </div>
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-default" id="btnSubmit">Search</button>
                                </div>
                           
                                    <div class="col-md-5"> <a id="lnkFilters" style="display:none;" data-toggle="collapse" href="#FilterBox" aria-expanded="false" aria-controls="collapseExample">More Options</a>
                                    </div>
                                     
                             
                               
                            </div>

                             <div class="row">
                                <div class="col-md-4">&nbsp;</div>
                           
                             
                                <div class="col-md-8" id="namerror">&nbsp;</div>
                            </div>
                       
                        </div>
                    </form>
                </div>
            </div>
            <div class="collapse" id="FilterBox">
                <div class="acc_container">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="textbox">Distance in Miles</label>
                              <input id="radiusselect" type="range" name="range" min="1" max="100" value="15" onchange="range.value=value">
                               <output id="range">15</output>
                        </div>
                        <div class="col-md-2">
                            <label for="qualityselect">Quality Rating</label>
                            <select class="form-control" id="qualityselect" name="qualityselect">
                                <option value="-1">Select your option</option>
                                <option value="0">ALL</option>
                                <option value="1">Rated</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="provtypeselect">Provider Type</label>
                            <select class="form-control" id="provtypeselect" name="provtypeselect">
                                <option value="-1">Select your option</option>
                                <option value="4">Center</option>
                                <option value="3">Group Home</option>
                                <option value="5">Non-Relative In-Home</option>
                                <option value="7">Non-Relative Out-of-Home</option>
                                <option value="6">Relative In-Home</option>
                                <option value="8">Relative Out-of-Home</option>
                                <option value="2">Slot Contractor</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="optavailability">Availability</label>
                            <div class="radio">
                                <input type="radio" name="optavailability" value="YES">Yes
                            </div>
                            <div class="radio">
                                <input type="radio" name="optavailability" value="NO">No
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="optspecialneed">Special Needs</label>
                            <div class="radio">
                                <label><input type="radio" name="optspecialneed" value="YES">Yes</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optspecialneed" value="NO">No</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              
                <div class="badge" id="divresults"></div> 
            
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">

            <div id="results-list" class="list-group">

                <div id="list" class="list-group"> </div>
            </div>
        </div>
        <div class="col col-md-6">
            <div id="map_canvas" style="width:auto;height:500px;"></div>
        </div>
    </div>
</div>

<script>
    $('.expandContent').click(function () {
        $('.showMe').toggle();
    });

     function validateinput(){
         var $messageDiv = $('#namerror'); // get the reference of the div
         if ($("#txtName").val() == '')
         {
             $messageDiv.show().html('<span style="color:red;">*Please enter the search criteria</span>');
             return false;
         }
         else
         {
             $messageDiv.hide();
             return true;
         }
     }

    function getLocationCoordinate(address) {

        var position = {};
        $.ajax({
            url: 'http://maps.google.com/maps/api/geocode/json',
            type: 'GET',
            data: {
                address: address,
                sensor: false
            },
            async: false,
            success: function (result) {

                try {
                    if (result.results[0])
                    {                       
                    position.lat = result.results[0].geometry.location.lat;
                    position.lng = result.results[0].geometry.location.lng;
                    }
                } catch (err) {
                    position = null;
                }

            }
        });
        return position;
    }

	 var firstClick = true;
   var inputradius = null;
   var qualityrating = null;
   var providertype = null;
   var availability = null;
   var specialneeds = null;
        $(document).ready(function() {

 var divs=$('.accordion>div').hide(); //Hide/close all containers

    var h2s=$('.accordion>h2').click(function () {
        h2s.not(this).removeClass('active')
        $(this).toggleClass('active')
        divs.not($(this).next()).slideUp()
        $(this).next().slideToggle()
        return false; //Prevent the browser jump to the link anchor
    });

   $('#radiusselect').change( function() {
    inputradius = $('#radiusselect').val();
    LoadMapsByFilters();
    return false;

    //alert(inputradius);
    });

   $('#qualityselect').change( function() {
    qualityrating = $('#qualityselect').val();
    LoadMapsByFilters();
    return false;
    //alert(qualityrating);
    });

   $('#provtypeselect').change( function() {
    providertype = $('#provtypeselect').val();
    LoadMapsByFilters();
    return false;
    //alert(providertype);
    });

   $(':radio[name = optavailability]').change( function() {
    availability = $(':radio[name = optavailability]:checked').val();
    LoadMapsByFilters();
    return false;
    //alert(availability);
    });

   $(':radio[name = optspecialneed]').change( function() {
    specialneeds = $(':radio[name = optspecialneed]:checked').val();
    LoadMapsByFilters();
    return false;
    //alert(specialneeds);
    });

 });

 $('[id^=btnSubmit]').on('click', function (e) {
LoadMapsByFilters();
return false;
 });

 function LoadMapsByFilters() {
     if (!validateinput()) { return false;}
   var inputradius = null;
   var qualityrating = "";
   var providertype = "";
   var availability = null;
   var specialneeds = null;
inputradius = $('#radiusselect').val();
qualityrating = $('#qualityselect').val();
providertype = $('#provtypeselect').val();
availability = $(':radio[name = optavailability]:checked').val();
specialneeds = $(':radio[name = optspecialneed]:checked').val();


     var enteredLocation = $("#txtName").val();
     var arr = [];
     var radiusinMiles=15 ;
     console.log(radiusinMiles);
     console.log(inputradius);
      if(inputradius!=15)
      radiusinMiles = inputradius
      else
      radiusinMiles = 15;
     console.log(radiusinMiles);
     var radius = radiusinMiles * 1609.34
     var latlng = getLocationCoordinate($("#txtName").val());
     var lat = latlng.lat;
     var lng = latlng.lng;
     var urlappend;
     var mapresults;

     var mapLocations;

//defaults
       $('#list').html("");
        $('#map_canvas').html("");
          $('#divresults').html("");
           $('#divresults').html('<h5>'+'0 Results for ' + enteredLocation + '</h5>');
                 $('#lnkFilters').hide();

     var url = 'https://www.googleapis.com/fusiontables/v2/query/?sql=SELECT%20PROVIDERNAME,LICENSETYPE,PROVIDERTYPEDESCRIPTION,QUALITYRATING,PROVIDERCAPACITY,STREETADDRESS,PHYSICALCITY,PHYSICALZIPCODE,COUNTYNAME,PHONENUMBER,AVAILABILITY,SPECIALNEEDS,LOCATIONLATITUDE,LOCATIONLONGITUDE%20FROM%201LJf1_wwE143AcOetenp8utlpTielLEDvWbbGw71A%20WHERE%20ST_INTERSECTS(LOCATIONWITHOUTNAME,%20CIRCLE(LATLNG(' + lat + ',' + lng + '),' + radius + '))'


     url = providertype !="-1"? url + 'and PROVIDERTYPE=' + providertype +" ": url;
     url = (qualityrating ==0 || qualityrating == "-1") ? url: url +  'and QUALITYRATING>0 ';

     url = (availability != null) ? url + "and AVAILABILITY='" + availability + "' " : url;
     url = (specialneeds != null) ? url + "and SPECIALNEEDS='" + specialneeds + "'": url;

     url = (url != null) ? url + '&key=AIzaSyAJDVkvbS5v9hknmJeJx_hVnAeIj3jjpM0' : "";


     $.ajax({
         type: 'GET',
         url: url,
         data: { location: enteredLocation },
         dataType: 'json',
         async: false,
         success: function (data) {
           
             mapresults = data;

         },
         error: function (jqXHR, textStatus, errorThrown) {
            // alert(jqXHR.status + ",  " + jqXHR.statusText + ",  " + textStatus + ",  " + errorThrown);
         }
     });


//returning false if no results found
 if(!mapresults || !mapresults.rows)
    {     
        return false;
    }

     new_rows = mapresults.rows.map(function (row) {

         arr.push([row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10], row[11],row[12],row[13]]);

     })

if(arr.length > 0)
{
         $('#lnkFilters').show();
          $('#divresults').html('<h5>'+ arr.length + ' Results for ' + enteredLocation + '</h5>');

}
else
{
     $('#lnkFilters').hide();
  $('#divresults').html('<h5>'+'0 Results for ' + enteredLocation + '</h5>');

}
     initialize(arr);

 }

var geocoder;
var map;
var bounds = new google.maps.LatLngBounds();

function initialize(locations) {

    map = new google.maps.Map(
      document.getElementById("map_canvas"), {
          center: new google.maps.LatLng(32.4419, -89.1419),
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      });
    geocoder = new google.maps.Geocoder();

    for (i = 0; i < locations.length; i++) {


        geocodeAddress(locations, i);
    }
}
//google.maps.event.addDomListener(window, "load", initialize);

function geocodeAddress(locations, i) {

    var img = "Not Rated";

    if (locations[i][3] == 1)
    img = "<img src='../images/Star1.png' />"
      if (locations[i][3] == 2)
  img = "<img src='../images/Star2.png' />"
      if (locations[i][3] == 3)
    img = "<img src='../images/Star3.png' />"
      if (locations[i][3] == 4)
     img = "<img src='../images/Star4.png' />"
      if (locations[i][3] == 5)
      img = "<img src='../images/Star5.png' />"


    var title = locations[i][0];
    var address = locations[i][5] + " " + locations[i][6] + " " + locations[i][7];
   
    var address1 = "<b>Name of the Provider:</b> " + locations[i][0] + "<br> " + "<b>Address: </b>" + locations[i][5] + " " + locations[i][6] + " " + locations[i][7] + "<br> " +
    "<b>Phone: </b> <a href=tel:'" + locations[i][9] + "'>" + locations[i][9] +"</a>" + "<br> " + "<b>Licenced: </b>" + locations[i][1] + "   " + "<b>Quality Rating: </b>" + img + "<br> " + "<b>Special Needs: </b>" + locations[i][11] + "   " + "<b>Availability: <b>" + locations[i][10];
     		      
    var url = locations[i][2];

    var EmailAddress =  "Name of the Provider: " + locations[i][0] + "%0A" + "Address: " + locations[i][5] + " " + locations[i][6] + " " + locations[i][7] + "%0A" +
    "Phone:" + locations[i][9] +  "%0A" + "Licenced:" + locations[i][1] + "%0A" + "Quality Rating:" + locations[i][3] + "%0A" + "Special Needs: " + locations[i][11] + "%0A" + "Availability:" + locations[i][10];
     	
    

    address1 = address1 + ' <a href="mailto:?subject=Child Care Provider&body=Add your Notes here....%0A%0A' +EmailAddress+ '"><img src="../images/Mail-icon.png" /></a></li>'
var markerlat = parseFloat(locations[i][12]);
var markerlng = parseFloat(locations[i][13]);


            //(32.8551326, -90.4056468)
        
              var marker = new google.maps.Marker({
                  icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png',
                  map: map,
               
                position: {lat:markerlat, lng: markerlng}, 

                  title: title,
                  animation: google.maps.Animation.DROP,
                  address: address,
                  url: url
              })
              infoWindow(marker, map, title, address, url);
              bounds.extend(marker.getPosition());
              map.fitBounds(bounds);
         


          $('<a class="list-group-item"><br>')
                          .html(address1)
              .click(function () {


                  infoWindowOnItemClick(marker, map, title, address, url);

              })
                          .appendTo("#list");
     
}

function infoWindowOnItemClick(marker, map, title, address, url) {
    closeInfoWindows();
     var html = "<div ><h3>" + title + "</h3><p>" + address + "<br></div><a target='_blank' href='https://www.google.com/maps/place/"+ title +" " +  address + "'>View location</a></p></div>";
     iw = new google.maps.InfoWindow({
        content: html,
        maxWidth: 350
    });
    InfoWindows.push(iw);
    iw.open(map, marker);
}

function infoWindow(marker, map, title, address, url) {

    google.maps.event.addListener(marker, 'click', function () {
        closeInfoWindows();
        var html = "<div id ='divinfo'><h3>" + title + "</h3><p>" + address + "<br></div><a target='_blank' href='" + url + "'>View location</a></p></div>";
        iw = new google.maps.InfoWindow({
            content: html,
            maxWidth: 350
        });
        InfoWindows.push(iw);
        iw.open(map, marker);

    });
}
var InfoWindows = [];
function closeInfoWindows() {
        for (i = 0; i < InfoWindows.length; i++) {
            InfoWindows[i].close();
        }
}
</script>

