@model Provider
@{
    ViewData["Title"] = "Search Provider";
}

<div class="container">
    <div class="OuterMostClass row">
        <div class="OuterMostClass col-xs-6">
           <div class="jumbotron">
             <h2>Subsidized Childcare</h2>
             <p>If you are a parent or a social worker or looking for subsidizing day care facilities search below</p>
          </div>
        </div>
        <div class="OuterMostClass col-xs-6">
           <div class="jumbotron">
             <h2>All Childcare Facilities</h2>
             <p>If you are a parent or a social worker or looking for all day care facilities click <a href="#">here</a>.<br></p>
           </div>
        </div>
    </div> 
</div>
<div class="container">
<div class="panel panel-primary" >
       
            <div class="panel-heading">Search Child Care Provider</div>
            
           
            <div class="panel-body">

<div class="container">
	
      <!-- Horizonatal Form -->
      <div class="row">
        <div class="col-xs-9">
          <form class="form-horizontal">
            <div class="form-group">
            
              <div class="ccol-xs-10 col-xs-offset-5">
                <input type="text" class="form-control" id="txtName" placeholder="City or Zip Code" />
              </div>
            </div>

           
            
            <div class="col-xs-offset-6">
            <button type="submit" class="btn btn-default" id="btnSubmit">Submit</button>
			 
               <button type="reset" class="btn btn-default">Reset</button>
            </div>

            
          </form>
        </div>
      </div>
    </div>
   </div>
</div>
</div>

<br>
			
			 <br>



<div class="container">
    <div class="OuterMostClass row">
        <div class="outerClass col-xs-7">
            <table id="list2">
        </table><div id="pager2"></div>
        </div>
        <div class="outerClass2 col-xs-5">
           <div id="map_canvas" style="border: 2px solid #3872ac; width:650px;height:500px;" ></div>
        </div>
    </div> 
</div>


</div>

	

</div>	    

<script>
	 var firstClick = true;
        $(document).ready(function() {
			
 $('[id^=btnSubmit]').on('click', function (e) {
var enteredLocation = $("#txtName").val();
var mapLocations ;
	 $.ajax({ 
                type: 'GET', 
                 url: 'search/getprovider',
                data: {location: enteredLocation},
                dataType:'json',
				async:false,
                success: function (data) { 
                mapLocations = data;      
				         
                },
				 error: function (jqXHR, textStatus, errorThrown) {
                  alert(jqXHR.status+",  " + jqXHR.statusText+",  "+textStatus+",  "+errorThrown);
                }
            });


         
//jqgrid load

	  if (!firstClick) {
		$('#list2').jqGrid('GridUnload'); 
                    
	  }
	var enteredLocation = $("#txtName").val();

 firstClick = false;

 jQuery("#list2").jqGrid({
      url:"search/getprovider?location="+enteredLocation,
	//data: { name: name1, city: city1, zip : zip1},
width : '600',
height: '420',
    datatype: 'json',
    colNames: ['Provider Name', 'Phone Number', 'City', 'Physical ZipCode', 'LicenseType', 'Rating'	],
    colModel: [
       
		  {name:'ProviderName',index:'ProviderName' ,width:'55', align: 'center'},
   		{name:'PhoneNumber',index:'PhoneNumber', width:'35', align: 'center'},
		    	{name:'PhysicalCity',index:'PhysicalCity', width:'35',align: 'center'},
		   	{name:'PhysicalZipCode',index:'PhysicalZipCode', width:'45', align: 'center'},
			   	{name:'LicenseType',index:'LicenseType', width:'35', align: 'center'},				  
					   {name:'QualityRating',index:'QualityRating', width:'25', align: 'center'}

       
    ],
     jsonReader: {
            repeatitems: false,
            root: function(obj) { return obj; },
            page: function(obj) { return 1; },
            total: function(obj) { return 1; },
            records: function(obj) { return obj.length; }
        },
        loadonce: false,
        pager: jQuery('#pager2'),
        rowNum: 10,
        rowList: [5, 10, 20, 50],
        sortname: 'ProviderName',
        sortorder: "asc",
        viewrecords: false,
        caption: 'Provider Search Result...',
			autowidth: false,  // set 'true' here
                shrinkToFit: true
    })
	//.navGrid(pager, { edit: false, add: false, del: false, refresh: true, search: true });

	initialize( MakeLocations(mapLocations));



return false;
 });

 });
//jqgrid end
   

$(window).resize(function () {
            var outerwidth = $('#div1').width();
            $('#datagrid').setGridWidth(outerwidth); // setGridWidth method sets a new width to the grid dynamically
});

$(window).unbind('resize.myEvents').bind('resize.myEvents', function () {
        var outerwidth = $('#div1').width();
        $('#datagrid').setGridWidth(outerwidth);
    });






// var locations = [
//   ['CVS Pharmacy', 'CVS 95835', 'http://www.google.com'],
//   ['840 still water road 95605', '840 still water road 95605', 'http://www.google.com'],
//   ['Cambria Solutions Sacramento <br> 20th Street Sacramento CA.', 'Cambria Solutions Sacramento', 'http://www.google.com'],
//   ['1718 timbrelway rocklin 95765', '1718 timbrelway rocklin 95765', 'http://www.google.com']

// ];



var geocoder;
var map;
var bounds = new google.maps.LatLngBounds();

function initialize(locations) {
  map = new google.maps.Map(
    document.getElementById("map_canvas"), {
      center: new google.maps.LatLng(37.4419, -122.1419),
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
  geocoder = new google.maps.Geocoder();

  for (i = 0; i < locations.length; i++) {


    geocodeAddress(locations, i);
  }
}
//google.maps.event.addDomListener(window, "load", initialize);

function geocodeAddress(locations, i) {

  var title = locations[i][0];
  var address = locations[i][0] + " " + locations[i][1];
  var url = locations[i][2];
 
  geocoder.geocode({
      'address': locations[i][1]
    },

    function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var marker = new google.maps.Marker({
          icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png',
          map: map,
          position: results[0].geometry.location,
          title: title,
          animation: google.maps.Animation.DROP,
          address: address,
          url: url
        })
        infoWindow(marker, map, title, address, url);
        bounds.extend(marker.getPosition());
        map.fitBounds(bounds);
      } else {
        alert("geocode of " + address + " failed:" + status);
      }
    });
}

function infoWindow(marker, map, title, address, url) {

  google.maps.event.addListener(marker, 'click', function() {
    var html = "<div><h3>" + title + "</h3><p>" + address + "<br></div><a target='_blank' href='" + url + "'>View location</a></p></div>";
    iw = new google.maps.InfoWindow({
      content: html,
      maxWidth: 350
    });
    iw.open(map, marker);
  });
}

function createMarker(results) {
  var marker = new google.maps.Marker({
    icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png',
    map: map,
    position: results[0].geometry.location,
    title: title,
    animation: google.maps.Animation.DROP,
    address: address,
    url: url
  })
  bounds.extend(marker.getPosition());
  map.fitBounds(bounds);
  infoWindow(marker, map, title, address, url);
  return marker;
}

function MakeLocations(loc)
{

// 	var IDs = [];

// IDs.push([1, 2]);
//  ['CVS Pharmacy', 'CVS 95835', 'http://www.google.com'],
 
 var arr= new Array();
$.each( loc, function(i, obj) {
      arr.push( [obj.ProviderName, obj.PhysicalCity + " " +obj.PhysicalZipCode , obj.PhoneNumber])
});
return arr;
}

   </script>







   