@{
    ViewData["Title"] = "Search Provider";
}



<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading"><h5>Facilities participating in the Childcare Certificate Program</h5></div>
        <div class="panel-body">
            <div class="container">
                <!-- Horizonatal Form -->
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">&nbsp;</div>
                                <div class="col-md-5">
                                    <input type="text" title="Address or City or Zip Code" class="form-control " id="txtName" placeholder="Address or City or Zip Code . . ." />
                                </div>
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-default" id="btnSubmit">Search</button>
                                </div>

                                <div class="col-md-3">
                                    <a id="lnkFilters"  style="display:none;" onclick="ToggleDiv()" href="javascript:void(0);" >More Options</a>
                                </div>



                            </div>

                            <div class="row">
                                <div class="col-md-4">&nbsp;</div>


                                <div class="col-md-8" id="namerror">&nbsp;</div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="collapse" id="FilterBox">
                <div class="acc_container">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="nearest"><span data-toggle="tooltip" data-html="true" title="Narrow or broaden your search by scrolling left or right for the nearest facilities">Nearest <span id="spnrange">10</span> Facilities <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span></label>
                            <input id="radiusselect" style="width:100%;" title="Narrow or broaden your search by scrolling left or right for the nearest facilities" src="images\info1.png" facilities"  type="range" name="range" min="1" max="50" value="10" >
                            
                        </div>
                        <div class="col-md-2">
                            <label for="qualityselect"><span data-toggle="tooltip" data-html="true" title="Select ‘All’ for all facilities; ‘Rated’ for those facilities that are ONLY rated, irrespective of the actual ratings">Quality Rating <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span></label>
                             <select class="form-control" id="qualityselect" name="qualityselect">
                                <option value="-1">Select your option</option>
                                <option value="0">All</option>
                                <option value="1">Rated</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="provtypeselect"><span data-toggle="tooltip" data-html="true" title="Choose the type of provider to filter down the results only for that particular provider type">Provider Type <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span></label>
                            <select class="form-control" id="provtypeselect" name="provtypeselect">
                                <option value="-1">Select your option</option>
                                <option value="4">Center</option>
                                <option value="3">Group Home</option>
                                <option value="5">Non-Relative In-Home</option>
                                <option value="7">Non-Relative Out-of-Home</option>
                                <option value="6">Relative In-Home</option>
                                <option value="8">Relative Out-of-Home</option>
                                <option value="2">Slot Contractor</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                           <label for="optavailability"><span data-toggle="tooltip" data-html="true" title="Select the checkbox to see only those facilities that have availability and can take new beneficiaries">Availability <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span></label>
                            <div class="checkbox">
                                <input type="checkbox" id="optavailability">
                            </div>
                        </div>
                        <div class="col-md-2">
                           <label for="optspecialneed"><span data-toggle="tooltip" data-html="true" title="Select the checkbox to see only those facilities that accept beneficiaries with special needs">Special Needs <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span></label>
                            <div class="checkbox">
                                <input type="checkbox" id="optspecialneed">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="badge" id="divresults"></div>

        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">

            <div id="results-list" class="list-group">
           
                <div id="list" class="list-group"> </div>
            </div>
        </div>
        <div class="col col-md-6">
            <div id="map_canvas" style="width:auto;height:500px;"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/CommonJs.js"></script>

<script type="text/javascript" src="/js/Mapfunctions.js"></script>
