@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="OuterMostClass row">
        <div class="OuterMostClass col-xs-12"> 
           <div class="jumbotron">
             <h2>About</h2>
                <p>
               Cambria Solutions developed this prototype for the Mississippi Department of Human Services (MDHS) Agency using Human Centered Design principles, Agile development methodology, and open source technologies. This tool will empower parents and caseworkers to find quality child care before and after school, during the day, or whenever it may be needed. Our goal is to provide comprehensive information needed for decision-making in an informative, easy, and helpful way. Our database is designed for parents who qualify for the Child Care Certificate Program, a federally funded program designed to provide parents with assistance for child care tuition. Eligibility for this child care service subsidization requires a child to be under the age of 13 (or under age 19 and physically or mentally unable to caring for him or herself). In order to be eligible, the parent(s) must fall in to at least one of the priority groups listed here.
                </p>
                <p>
               Cambria Solutions is an information technology and management consulting firm based in Sacramento (California), with offices in Jackson (Mississippi), Los Angeles (California), Olympia (Washington), Tallahassee (Florida), Atlanta (Georgia), and Washington, D.C. Founded in 2003, Cambria builds custom-tailored solutions using ingenuity and a distinctly humanized approach. Since its founding, the company has experienced double-digit growth each year and has been recognized six times by Inc. Magazine as one of the nation’s 5,000 fastest-growing private companies. In 2014, Cambria Solutions was selected as one of Consulting magazine’s “Seven Small Jewels.” In addition, Cambria Solutions was named California’s Top IT Company of the Year in 2015 by LISTA, the Latinos in Information Sciences and Technology Association.
                </p>
                <p>
                For more information about Cambria Solutions,
                visit <a href="http://www.cambriasolutions.com/">www.cambriasolutions.com</a>.
                </p>
                <p>
                Follow us on
                <a href="https://twitter.com/CambriaTweets">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                Twitter</a>,
                <a href="http://www.linkedin.com/company/cambria-solutions">
                <i class="social social-linked-in" aria-hidden="true"></i>
                LinkedIn</a>,
                <a href="https://www.facebook.com/CambriaSolutions">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                Facebook</a>,
                <a href="http://www.youtube.com/channel/UC_-z760d-r63ih0Sid8_JNQ/">
                <i class="fa fa-youtube-square" aria-hidden="true"></i>
                Youtube</a>.
                </p>
          </div>
        </div>
    </div> 
</div>
