@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="OuterMostClass row">
        <div class="OuterMostClass col-xs-12">
           <div class="jumbotron">
             <h2>About</h2>
                <p>
                This prototype is developed by Cambria Solutions for the Mississippi Department of Human
                Services (MDHS) Agency using human centered design principles, agile
                development methodology, and open source technologies. We are building
                a tool that will empower foster parents and caseworkers to find and
                provide safe, temporary homes for kids who cannot remain safely in the
                home of their parent(s). Our goals are to get the best temporary
                placement for kids, link foster parents to resources and support, and
                build a true partnership between foster parents and their caseworker
                that ultimately addresses the education, mental and physical well-being
                of the children.
                </p>
                <p>
                Cambria Solutions is an information technology and management consulting
                firm based in Sacramento, Calif., with offices in Jackson, Miss.;
                Los Angeles, Calif.; Olympia, Wash.; Tallahassee, Fla.; Atlanta, Ga.;
                and, Washington, D.C.
                Founded in 2003, Cambria builds custom-tailored solutions using
                ingenuity and a distinctly humanized approach. Since its founding, the
                company has experienced double-digit growth each year and has been
                recognized six times by Inc. Magazine as one of the nation’s 5,000
                fastest-growing, private companies. In 2014, Cambria Solutions was
                selected as one of Consulting magazine’s “Seven Small Jewels.”
                In addition, Cambria Solutions was named California’s Top IT Company of
                the Year in 2015 by LISTA, the Latinos in Information Sciences and
                Technology Association.
                </p>
                <p>
                For more information about Cambria Solutions,
                visit <a href="http://www.cambriasolutions.com/">www.cambriasolutions.com</a>.
                </p>
                <p>
                Follow us on
                <a href="https://twitter.com/CambriaTweets">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                Twitter</a>,
                <a href="http://www.linkedin.com/company/cambria-solutions">
                <i class="social social-linked-in" aria-hidden="true"></i>
                LinkedIn</a>,
                <a href="https://www.facebook.com/CambriaSolutions">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                Facebook</a>,
                <a href="http://www.youtube.com/channel/UC_-z760d-r63ih0Sid8_JNQ/">
                <i class="fa fa-youtube-square" aria-hidden="true"></i>
                Youtube</a>.
                </p>
          </div>
        </div>
    </div> 
</div>
